<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alterar Email</title>
    <link rel="stylesheet" href="style.css">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/modificar.css' %}">
</head>

<body>
    <div class="container">
        <div class="form-card">
            <h1>Alterar Email</h1>
            <form action="{% url 'atualizar_email' %}" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="email">Novo Email:</label>
                    <input type="email" id="email" name="email" value="{{ usuario.email }}" required>
                </div>
                <div class="btn-container">
                    <button type="submit" class="btn-submit">Salvar Alterações</button>
                </div>
            </form>
        </div>
    </div>
</body>

</html>